.containt-tercero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-start: 8rem;
}
.containt-tercero img{
    inline-size: 44rem;
    block-size: 28rem;
}